.search { 
    background-color: gray;
    padding: 2rem; 
    border-radius: 1rem;
}

.search input {
    text-align: center;
    min-width: 65rem;
    padding: .5rem;
}

/*  so search bar does not overlap row */ 
@media (max-width: 1200px) {
    .search input {
    text-align: center;
    min-width: auto;
    padding: .5rem;
    }
}